body {
    background-color: white;
}

.wrapper .bg {
    background-color: salmon;
    width: 95%;
    height: 40%;
    margin : -30px auto;
    padding: 40px;
}

.wrapper .box-1 h2 {
    font-family: sans-serif;
    text-align: center;
    background-color: lightblue;
}

.wrapper .box-1 {
    width: 700px;
    height: 350px;
    background-color: gray;
    margin: -300px auto;
}

.wrapper .box-1 .foto {
    width: 260px;
    height: 322px;
    margin-top: -20px;
}

.wrapper .biodata {
    font-size: 25px;
    margin: 50px;
    text-align: left;
    margin-left: 680px;
    margin-top: -200px;
}

.wrapper .box-2{
    width: 50%;
    height: 40%;
    background-color: gray;
    margin: 250px auto;
}

.wrapper h2{
    text-align: center;
}

.wrapper .box-2 h2 {
    text-align: center;
    background-color: lightblue;
}

.wrapper .pengalaman {
    width: 34%;
    padding-left: 140px;
    height: 30%;
    margin: -490px 332px;
    color : black;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}